.portfoliobtn-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    @media screen and (max-width:767px){
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: -15px;

    }


}



.portfoliobtn-list__item {
    margin-right: 8px;

    &:last-child {
        margin-right: 0;
    }

        @media screen and (max-width:767px) {
           margin-right: 8px;
           margin-bottom: 21px;
           margin-bottom: 15px;
    
        }
}