.footer {
    background-color: var(--logo-color);
   

    @media screen and (min-width:1200px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.adress-list .link {
    color: var(--footer-white);
    line-height: 1.1;
    text-decoration: none;
    transition: color 250ms var(--tran-hover);
}

.accent-footer,
.adress {
    color: var(--neutral-color);
    text-decoration: none;
    transition: color 250ms var(--tran-hover);
}

.adress {
    
    @media screen and (min-width:1200px){
        margin-top: 20px;
        margin-right: 0;
    }
}

.adress-list__item {
  

    @media screen and (min-width:1200px){
    margin-bottom: 9px;
    margin-right: 0;
    }

    &:last-child {
        @media screen and (min-width:1200px) {
            margin-bottom: 0;
        }
    }
}

.adrfooter-div {
    @media screen and (min-width:1200px) {
        margin-right: 70px;
    }
}