.footer {
    background-color: var(--logo-color);
   

    @media screen and (min-width:1200px){
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.adress-list .link {
    color: var(--footer-white);
    line-height: 1.1;
    text-decoration: none;
    transition: color 250ms var(--tran-hover);
}

.accent-footer,
.adress {
    color: var(--neutral-color);
    text-decoration: none;
    transition: color 250ms var(--tran-hover);
}

.adress {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    @media screen and (min-width:1200px){
        margin-right: 0;
    }
}

.adress-list__item {
    margin-bottom: 8px;

    @media screen and (min-width:1200px){
    margin-bottom: 9px;
    margin-right: 0;
    }

    &:last-child {
        @media screen and (min-width:1200px) {
            margin-bottom: 0;
        }
    }
}

.adrfooter-div {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width:1200px) {
        margin-right: 70px;
    }
}

.footer-parent{
    padding-top: 60px;
    padding-bottom: 60px;

    // @media screen and (min-width:768px){
    //     display: flex;
    //     flex-wrap: wrap;
    // }

    @media screen and (min-width:1200px){
        display: flex;
        justify-content: baseline;
        padding: 0;
       
    }
}

.logo-footer{
    display: inline-block;
    margin-bottom: 20px;
    text-align: center;
    @media screen and (min-width:768px){
        margin-right: 0;
    }

}


