.header {
    border-bottom: 1px solid var(--border-portfolio);
}

.sec-header {
    padding-bottom: 32px;
}

.header-container {
    display: flex;
    @media screen and (max-width: 767px){
        margin: 0px;
        padding: 0;
        display: flex;
        max-width: 40px;
    }
    
    @media screen and (min-width:768px) and (max-width: 1199px){
        padding: 0;
    }
}

.navigation-container {
    display: flex;
    align-items: center;
    margin: auto;

    @media screen and (max-width:767px){
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width: 768px) and (max-width:1199px){
        display: flex;
        width: auto;
        padding-top: 21px;
        align-items: flex-start;
    }

    @media screen and (min-width:1200px){
        align-items: center;
        margin-top: 24px;
    }
}


.nav-adress {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-right: 0;
}

.portfolio-ph {
    margin-bottom: 94px;
}