.hero-section {
    background-color: var(--logo-color);
    background-image:
        linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/images_studio/bgi_hero_sm.jpg);

    @include mq(retina){
        background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/images_studio/bgi_hero_sm2x.jpg);
    }        
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
    height: 400px;

    @media screen and (max-width:767px){
        height: 100%;
       min-height: 400px;
    }

    @include mq(tablet){
        background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/images_studio/bgi_hero_md.jpg);
    @include mq(retina){
        background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/images_studio/bgi_hero_md2x.jpg);
    }
    }

        @include mq(desktop) {
            background-image:
                linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(../images/images_studio/bgi_hero_lg.jpg);
        }
                 @include mq(retina) {
                     background-image:
                         linear-gradient(to right,
                             rgba(47, 48, 58, 0.4),
                             rgba(47, 48, 58, 0.4)),
                         url(../images/images_studio/bgi_hero_lg2x.jpg);
                 }
}
.hero-title {
    margin-right: auto;
    margin-left: auto;
    width: auto;
    margin-bottom: 40px;
    color: var(--neutral-color);
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}


.hero-section {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    max-width: 1600px;
    width: 100%;

    @media screen and (min-width:1200px){
        height: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.hero-container {

    @media screen and (min-width:768px){
        padding-right: 204px;
        padding-left: 204px;
    }
}

.hero-title {
    font-size: 6vw;
    
    @media screen and  (min-width:480px){
        font-size: 26px;
    }

    @media screen and (min-width:1200px){
    font-size: 44px;
    width: 696px;
    line-height: 1.36;
    }
}
